// Babel configuration file

{
  // List of presets to be used by Babel during transpilation
  "presets": [
    // Transpile JavaScript to be compatible with the specified environment
    "@babel/env",

    // Transpile JSX syntax and React-specific features
    "@babel/react"
  ],

  // List of plugins to be applied during the transpilation process
  "plugins": [
    // Enable support for class properties syntax proposal
    "@babel/plugin-proposal-class-properties"
  ]
}
